@model int
@if (Model > 0)
{
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size:0.75em;min-width:20px;">
        @Model
        <span class="visually-hidden">favorites</span>
    </span>
}










