<div class="skeleton-card">
    <div class="sk-img shimmer"></div>
    <div class="sk-title shimmer"></div>
    <div class="sk-meta shimmer"></div>
    <div class="sk-meta shimmer" style="width:40%"></div>
</div>


