<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - FoodVault 🍲</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/elegant-icons.css asp-append-version=" true"" />
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slicknav.mn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        
</head>
<body>
    <!-- Page Preloader -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- TopNav -->
    @await Html.PartialAsync("TopNav")
    <!--end TopNav -->
    <!-- Main Content -->
    @RenderBody()
    <!--End Main Content -->
    <!-- Footer -->
    @await Html.PartialAsync("Footer")
    <!--End Footer -->
    <!--Script -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true" ></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mains.js" asp-append-version="true"></script>
</body>
</html>